<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
  <link rel = "stylesheet" href="../assets/css/error500.css">
</head>
<body>
  <div class="wrapper">
    <div class="box">
    <h1>500</h1>
    <p>Sorry, it's me, not you.</p>
    <p>&#58;&#40;</p>
    <p><a href="/">Let me try again!</a></p>
    </div>
    </div>
</body>
</html>